/* User Authentication Block Styles */
.user-authentication-block {
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .toggle-text {
    text-align: center;
    color: #3c455e;
  }
  p {
    button {
      all: unset;
      font-weight: bold;
      text-decoration: underline;
      margin-left: 0.5rem;
      cursor: pointer;
      transition: $speed $ease;
      &:hover {
        opacity: 0.75;
      }
    }
  }
  .form-error-wrapper {
    color: #3c455e;
    text-align: center;
    padding: 2rem;
    background-color: #811eff0d;
    border: 1px solid #811eff33;
    border-radius: 6px;
    p.success-title {
      color: #811eff;
      font-size: 20px;
    }
  }
}

.auth-bg-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  .auth-bg-image {
    position: absolute;
    width: 100%;
    top: 0;
    right: 50%;
    z-index: 1;
    margin: 0;
    opacity: 0.1;
  }
}

h2.promo-heading {
  @media (max-width: 781px) {
    font-size: 24px;
    max-width: 324px !important;
  }
}

.promo-text {
  margin-top: 0.5rem;
  @media (max-width: 781px) {
    max-width: 324px;
    margin-left: auto;
    margin-right: auto;
  }
}

.laptop-image-wrapper {
  margin-bottom: -60px !important;
  @media (min-width: 782px) {
    margin-bottom: -80px !important;
  }
}

@media (max-width: 781px) {
  .column-reverse-on-mobile {
    display: grid !important;
    .wp-block-column:nth-child(1) {
      order: 2;
    }
    .wp-block-column:nth-child(2) {
      order: 1;
    }
  }
  .min-height-0-mobile {
    min-height: 0 !important;
  }
}
